# Dependencies
node_modules
.pnp
.pnp.js

# Bun
bun.lockb

# Build outputs
.next
dist
build
.turbo

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Prisma
packages/database/generated

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Test
coverage
playwright-report
test-results

# TS
*.tsbuildinfo

# codigo antigo
referencia-pai/
referencia-pai/*
referencia-pai/*/
referencia-pai/apps/web